# Python cache
__pycache__/
*.py[cod]
*.so
*.pyd
*.pyo

# Virtual environments
venv/
.env/
.venv/

# Editor config files
.vscode/
.idea/
*.swp

# OS junk
.DS_Store
Thumbs.db

# Logs
*.log

# Streamlit cache
.streamlit/
.streamlit/config.toml
.streamlit/secrets.toml

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# Env files and secrets
.env
.env.*